body {
	background-image:linear-gradient(#1cefff, #c0c0aa);
	height: 100vh;
}

h1 {
	text-align: center;
}

.eleve{
	color:red;
}
.display{
	visibility: hidden;
}
.display.show{
	visibility: visible;
}

div.col-sm-8 {
	margin-top: 34px;
}

div.col-sm-6 {
	margin-left: 25%;
}

a.btn-primary {
	position: relative;
}
