body {
	background-image:linear-gradient(#1cefff, #c0c0aa);
	height: 100vh;
}

h1 {
	text-align: center;
	color: white;
}

#list-group {
	margin-top: 5%;
	margin-right: 2%;
}

.pull-right {
	margin-right: 2%;
}

.center-block#retour {
	width: 10%;
}

.center-block#modif {
	width: 12%;
}

li {
	list-style-type: none;
}

.btn {
    box-shadow:1px 1px 3px #999;
	margin-left: 10px;
}

.eleve{
	color:red;
}
.display{
	visibility: hidden;
}
.display.show{
	visibility: visible;
}